name: 'Terraform'
run-name: ${{inputs.action}}
on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Please Select The Command To Run { plan , apply, destroy }'
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy
permissions:
  contents: read

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.SECRET_KEY }}
        aws-region: us-west-2
    - name: setup Terraform
      uses: hashicorp/setup-terraform@v3
    - name: Terraform Init
      run: terraform init --var-file=var.tfvars
      working-directory: ./terraform
  Terraform-plan:
    if: inputs.action == 'plan' 
    runs-on: ubuntu-latest
    steps:
      - name: Terraform plan
        run: terraform plan --var-file=var.tfvars
        working-directory: ./terraform
 s/heads/"main"' && github.event_name == 'push'
      run: terraform apply -auto-approve -input=false
